.char-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--text-color);
  border-radius: 5px;
  color: var(--bg);
  margin: 1px;
  height: 35px;
  width: 35px;
}

.box-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
