.navitem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--header-height) * 0.6);
  height: calc(var(--header-height) * 0.6);
  background-color: var(--bg);
  border-radius: 50%;
  color: var(--text-color);
  transition: 250ms;
}

.navitem:hover {
  filter: brightness(1.2);
}

.navitem svg {
  width: calc(var(--header-height) * 0.5);
  height: calc(var(--header-height) * 0.5);
  fill: var(--text-color);
}
