.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--header-height) * 0.65);
  height: calc(var(--header-height) * 0.65);
  margin: 10px;
  background-color: var(--bg);
  border-radius: 50%;
  color: var(--text-color);
  transition: 250ms;
}

.icon:hover {
  filter: brightness(1.2);
}

.icon svg {
  width: calc(var(--header-height) * 0.5);
  height: calc(var(--header-height) * 0.5);
  fill: var(--text-color);
}
