.footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--full-width);
  bottom: 0;
  height: var(--header-height);
}

.padding-right {
  padding-right: 250px;
}
