body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: var(--full-width);
  margin: auto;
  background-color: var(--bg);
}

:root {
  --bg: #001220;
  --nav-height: 80px;
  --text-color: #dadce1;
  --full-width: 800px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
p {
  margin: 0;
  cursor: default;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  color: var(--text-color);
}

#footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  min-width: var(--full-width);
  bottom: 0;
  height: var(--nav-height);
}

#nav {
  height: calc(var(--nav-height) * 0.8);
}

.navitem {
  width: calc(var(--nav-height) * 0.7);
  height: calc(var(--nav-height) * 0.7);
  border-radius: 50%;
  color: var(--text-color);
  background-color: var(--bg);
  transition: 250ms;
}

.navitem:hover {
  filter: brightness(1.2);
}

.navitem svg {
  width: calc(var(--nav-height) * 0.5);
  height: calc(var(--nav-height) * 0.5);
  fill: var(--text-color);
}

.text-normal {
  color: var(--text-color);
}

.padding-right {
  padding-right: 250px;
}
